.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.head {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.description {
  display: flex;
  font-size: 1rem;
  line-height: 1.6rem;
  padding-bottom: 1rem;
}
.rewiew {
  display: flex;
  border: 1px solid black;
  border-radius: 9999px;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 1310px) {
  .outer {
    display: none;
  }
}
